h1{
    text-align: center;
}
h1 a{
    text-decoration: none;
    letter-spacing: 5px;
    color: red;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}
.headerLayout nav{
    display: flex;
    gap:25px;
}
.headerLayout nav a{
    text-decoration: none;
}