h1{
    text-align: center;
}
h1 a{
    text-decoration: none;
    letter-spacing: 5px;
    color: red;
}
#headerLayout{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}
#headerLayout nav{
    display: flex;
    gap:25px;
    position: relative;
}
#headerLayout nav a.filterActive{
    position: absolute;
    left:120%;
    cursor: pointer;
}
#headerLayout nav a{
    text-decoration: none;
    font-size: 1.2em;
}
#headerLayout div:not(div.iconContainer){
    position: relative;
    width: 100%;
}
.icon-profile{
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/icon-profile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
i.backButton{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/back-button.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#headerLayout div div.iconContainer{
    position: absolute;
    display: inline-flex;
    top:50%;
    left:80%;
    gap:20px;
    transform: translateY(-50%);
    align-items: center;
}
#headerLayout div div.iconContainer a{
    text-decoration: none;
}

@media all and (max-width:550px)
{
    #headerLayout div div.iconContainer .icon-profile{
        width: 20px;
        height: 20px;
    }
    #headerLayout div div.iconContainer{
        top:150%;
        left:50%;
        transform: translateX(-50%);
    }
}
