ul.profileMenu{
    padding: 0;
    position: absolute;
    list-style: none;
    width: 100px;
    top:100%;
    right: 0px;
    margin-top: 15px;
    background-color: rgb(13, 13, 13);
    border-radius: 10px;
    border: 1px solid rgb(75, 75, 75);
}
ul.profileMenu::before{
    content:"";
    position:absolute;
    bottom: 100%;
    right: 8px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid rgb(75, 75, 75);
}
ul.profileMenu li{
   padding: 15px 15px;
   align-items: center;
   font-size: 0.8em;
   text-align: center;
}
ul.profileMenu li:nth-of-type(1){
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
ul.profileMenu li:nth-of-type(2){
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}
ul.profileMenu a{
    text-decoration: none;
}

ul.profileMenu li:hover{
   background-color: rgb(75, 75, 75);
}