main{
    padding-top: 100px;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
}
.container > * {
  pointer-events: all;
}
div.adviceContainer,
div.bestContainer,
div.currentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
div.adviceContainer div,
div.bestContainer div,
div.currentContainer div{
    overflow: hidden;
    width: 90%;
    position: relative;
    scrollbar-width: none;
}
div.currentContainer div {
    display: flex;
    justify-content: center;
}

h2{
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
ul.titlesContainer{
    display: flex;
    gap: 20px;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
}
ul.titlesContainer::-webkit-scrollbar{
    display: none;
}
li.titles{
    width: 160px;
    height: 200px;
    flex-shrink: 0;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}
li.titles:hover{
    transition: 0.2s ease;
   transform: scale(1.01);
}
div.bestContainer div.arrowLeftContainer,
div.adviceContainer div.arrowLeftContainer,
div.currentContainer div.arrowLeftContainer
{
    height: 100%;
    width: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0;
}
.arrowLeft{
    height: 50%;
    width: 120%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0.6) rotate(180deg);
    background-image: url("./../../assets/arrow.png");
    background-repeat: none;
    background-size:cover;
    background-position: center;
    cursor: pointer;
}
/* maybe use a id */
div.bestContainer div.arrowRightContainer,
div.adviceContainer div.arrowRightContainer,
div.currentContainer div.arrowRightContainer{ 
    height: 100%;
    width: 40px;
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    z-index: 1;

}
.arrowRight{
    height: 50%;
    width: 120%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0.6);
    background-image: url("./../../assets/arrow.png");
    background-repeat: none;
    background-size:cover;
    background-position: center;
    cursor: pointer;
}
.arrows{
    display:none;
}
.arrowRightContainer:hover{
background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.189))
}
.arrowLeftContainer:hover{
background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.189))
}
.arrowRightContainer:hover .arrows,
.arrowLeftContainer:hover .arrows{
display: block;
}

@media all and (min-width:900px){
div.adviceContainer div,
div.bestContainer div{
display: flex;
justify-content: center;
}

}
.backgroundBlur{
    filter: blur(10px);
}
.likeAnimation{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("./../../assets/like-filled.png");
    background-size: cover;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
   z-index: 1;
   animation: scaleAnimation 0.6s ease-in 1;
}

@keyframes scaleAnimation {
    0%{
        transform: translate(-50%,-50%) scale(0);
    }
    50%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}