.titleDetailContainer{
    position: absolute;
    width: 600px;
    height: min-content;
    background-color: rgb(13, 13, 13);
    left:50%;
    transform: translateX(-50%);
    border-radius: 25px;
    z-index: 1;
    padding: 20px;
}
#titleDetailHeader {
    display: flex;
    justify-content: flex-start;
    gap:50px;
}
#titleDetailHeader img{
    width: 180px;
    border-radius: 10px;
}
#titleDetailHeader h2{
   font-size: 1.8em;
   font-weight: 500;
   letter-spacing: 2px;
   margin: 0;
   text-align: left;
}
.headerTitleDetails{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.headerTitleDetails div{
display: flex;
gap:50px;
margin-bottom: 20px;
flex-wrap: wrap;
}
.titleDetailContainer span{
    position: absolute;
    right: 10px;
    top:10px;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;
}
.likeContainer{
    display: inline-block;
    position: relative;
    left:40%;
    margin-top: 20px;
}
.like{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/like-empty.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.likeFilled{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/like-filled.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.disLikeButton{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/dislike-empty.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
    margin-left: 20px;
}
.disLikeButtonFilled{
     display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/dislike-filled.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
    margin-left: 20px;
}

@media all and (max-width:650px){
    .titleDetailContainer{
        transform: translateX(-50%) scale(0.8);
    }
}
@media all and (max-width:500px){
    .titleDetailContainer{
        transform: translateX(-50%) scale(0.6);
    }
    #titleDetailHeader div{
    gap:25px;
}
.titleDetailContainer span{
    right: 50px;
}
.titleDetailContainer p{
    width: 350px;
}
}


@media all and (max-width:500px){
    .titleDetailContainer{
        transform: translateX(-50%) scale(0.5);
    }
}