.likedTitledContainer{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likedTitledContainer h2{
    font-size: 1.4em;
    font-weight: 500;
}
.titleLikedList{
    list-style: none;
    display: flex;
     gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
div.emptyLikeContainer{
    text-align: center;
}
div.emptyLikeContainer h2{
    font-size: 1em;
    opacity: 0.6;
    margin: 0;
    margin-bottom: 10px;
}
div.emptyLikeContainer img{
    width: 35px;
    opacity: 0.6;
}
span.likeButtonToWatch{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("./../../assets/dislike-filled.png");
    background-size: cover;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   z-index: 1;
}
.filterToWatch::before{
 content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
}