.likedTitledContainer{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likedTitledContainer h2{
    font-size: 1.4em;
    font-weight: 500;
}
.titleLikedList{
    list-style: none;
    display: flex;
     gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}